<div class="slider">
          <div class="callbacks_wrap">
            <ul class="rslides" id="slider">
              <li>
                <img src="http://p.imgci.com/db/PICTURES/CMS/227900/227953.jpg" alt="">
                <div class="caption">
                  <a href="single.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
                </div>
              </li>
              <li>
                <img src="http://p.imgci.com/db/PICTURES/CMS/227900/227953.jpg" alt="">
                <div class="caption">
                  <a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a>
                </div>
              </li>
              <li>
                <img src="http://p.imgci.com/db/PICTURES/CMS/227900/227953.jpg" alt="">
                <div class="caption">
                  <a href="single.html">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</a>
                </div>
              </li>
            </ul>
          </div>
        </div>