

        <div class="list_vertical">
                <section class="accordation_menu">
              <div>
                <input id="label-1" name="lida" type="radio" checked/>
               <label for="label-1" id="item1"><i class="ferme"> </i>Popular Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                <div class="content" id="a1">
                  <div class="scrollbar" id="style-2">
                 <div class="force-overflow">
                  <div class="popular-post-grids">
                    <div class="popular-post-grid">
                      <div class="post-img">
                        <a href="single.html"><img src="images/bus2.jpg" alt="" /></a>
                      </div>
                      <div class="post-text">
                        <a class="pp-title" href="single.html"> The section of the mass media industry</a>
                        <p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="popular-post-grid">
                      <div class="post-img">
                        <a href="single.html"><img src="images/bus1.jpg" alt="" /></a>
                      </div>
                      <div class="post-text">
                        <a class="pp-title" href="single.html"> Lorem Ipsum is simply dummy text printing</a>
                        <p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="popular-post-grid">
                      <div class="post-img">
                        <a href="single.html"><img src="images/bus3.jpg" alt="" /></a>
                      </div>
                      <div class="post-text">
                        <a class="pp-title" href="single.html">There are many variations of Lorem</a>
                        <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="popular-post-grid">
                      <div class="post-img">
                        <a href="single.html"><img src="images/bus4.jpg" alt="" /></a>
                      </div>
                      <div class="post-text">
                        <a class="pp-title" href="single.html">Sed ut perspiciatis unde omnis iste natus</a>
                        <p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  </div>
              </div>
              </div>
              </div>
              <div>
                <input id="label-2" name="lida" type="radio"/>
                <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                <div class="content" id="a2">
                   <div class="scrollbar" id="style-2">
                   <div class="force-overflow">
                  <div class="popular-post-grids">
                      <div class="popular-post-grid">
                        <div class="post-img">
                          <a href="single.html"><img src="images/tec2.jpg" alt="" /></a>
                        </div>
                        <div class="post-text">
                          <a class="pp-title" href="single.html"> The section of the mass media industry</a>
                          <p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="popular-post-grid">
                        <div class="post-img">
                          <a href="single.html"><img src="images/tec1.jpg" alt="" /></a>
                        </div>
                        <div class="post-text">
                          <a class="pp-title" href="single.html"> Lorem Ipsum is simply dummy text printing</a>
                          <p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="popular-post-grid">
                        <div class="post-img">
                          <a href="single.html"><img src="images/tec3.jpg" alt="" /></a>
                        </div>
                        <div class="post-text">
                          <a class="pp-title" href="single.html">There are many variations of Lorem</a>
                          <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="popular-post-grid">
                        <div class="post-img">
                          <a href="single.html"><img src="images/tec4.jpg" alt="" /></a>
                        </div>
                        <div class="post-text">
                          <a class="pp-title" href="single.html">Sed ut perspiciatis unde omnis iste natus</a>
                          <p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div>
                <input id="label-3" name="lida" type="radio"/>
                <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Comments<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                <div class="content" id="a3">
                   <div class="scrollbar" id="style-2">
                  <div class="force-overflow">
                 <div class="response">
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>MARCH 21, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>MARCH 26, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>MAY 25, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>FEB 13, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>JAN 28, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>APR 18, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>DEC 25, 2014</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          </div>

                                </div>
                </div>
              </div>
            </section>
           </div>



