 <div class="tags">
            <header>
              <h3 class="title-head">Tags</h3>
            </header>
            <p>
            <a class="tag1" href="single.html">At vero eos</a>
            <a class="tag2" href="single.html">doloremque</a>
            <a class="tag3" href="single.html">On the other</a>
            <a class="tag4" href="single.html">pain was</a>
            <a class="tag5" href="single.html">rationally encounter</a>
            <a class="tag6" href="single.html">praesentium voluptatum</a>
            <a class="tag7" href="single.html">est, omnis</a>
            <a class="tag8" href="single.html">who are so beguiled</a>
            <a class="tag9" href="single.html">when nothing</a>
            <a class="tag10" href="single.html">owing to the</a>
            <a class="tag11" href="single.html">pains to avoid</a>
            <a class="tag12" href="single.html">tempora incidunt</a>
            <a class="tag13" href="single.html">pursues or desires</a>
            <a class="tag14" href="single.html">Bonorum et</a>
            <a class="tag15" href="single.html">written by Cicero</a>
            <a class="tag16" href="single.html">Ipsum passage</a>
            <a class="tag17" href="single.html">exercitationem ullam</a>
            <a class="tag18" href="single.html">mistaken idea</a>
            <a class="tag19" href="single.html">ducimus qui</a>
            <a class="tag20" href="single.html">holds in these</a>
            </p>
           </div> 