




<div class="wrap">
    <div class="move-text">
      <div class="breaking_news">
        <h2>Breaking News</h2>
      </div>
      <div class="marquee"><div style="width: 100000px; margin-left: 908px; animation: marqueeAnimation-4343909 10.848s linear 1s infinite running;" class="js-marquee-wrapper"><div class="js-marquee" style="margin-right: 0px; float: left;">
        <div class="marquee1"><a class="breaking" href="single.html">&gt;&gt;The standard chunk of Lorem Ipsum used since the 1500s is reproduced..</a></div>
        <div class="marquee2"><a class="breaking" href="single.html">&gt;&gt;At vero eos et accusamus et iusto qui blanditiis praesentium voluptatum deleniti atque..</a></div>



        <div class="clearfix"></div>
      </div></div></div>
      <div class="clearfix"></div>
      <script type="text/javascript" src="js/jquery.marquee.min.js"></script>
      <script>
        $('.marquee').marquee({ pauseOnHover: true });
        //@ sourceURL=pen.js
      </script>
    </div>
  </div>





  <!-- content-section-starts-here -->
  
 
  <div class="main-body">
    <div class="wrap">
      <div class="col-md-8 content-left">
        <!-- slider -->
        
        <div ng-include="'views/indexSlide.html'"></div>


        <div class="articles">
          <header>
            <h3 class="title-head">All around the world</h3>
          </header>






   <div ng-include="'views/indexarticle.html'"></div>
          
        
        
        <div class="life-style">
          <header>
            <h3 class="title-head">Life Style</h3>
          </header>
          

          
            <div ng-include="'views/life-style-grids.html'"></div>
            



          

           
            <div ng-include="'views/life-style-right-grids.html'"></div>
           

            <div class="clearfix"></div>
          </div>
        </div>


          <div ng-include=" 'views/Bottom_Btech.html '"></div>

        </div>
        </div>

      <div class="col-md-4 side-bar">
      <div class="first_half">
        <div ng-include="'views/newsLetter.html'"></div>
        




       <div ng-include="'views/indexSideList.html'"></div>

<!--
right sidebar list 
-->
          
         <div ng-include="'views/sideBarArticle.html'"></div>
         </div>


           <div class="secound_half">
          <div ng-include="'views/IndexTags.html'"></div>


           
           <div ng-include="'views/popularNews.html'" /> </div>        
      



          </div>

          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
   
</div> 



