<div class="life-style-grids">
            <div class="life-style-left-grid">
              <a href="single.html"><img src="images/l1.jpg" alt="" /></a>
              <a class="title" href="single.html">It is a long established fact that a reader will be distracted.</a>
            </div>
            <div class="life-style-right-grid">
              <a href="single.html"><img src="images/l2.jpg" alt="" /></a>
              <a class="title" href="single.html">There are many variations of passages of Lorem Ipsum available.</a>
            </div>
            <div class="clearfix"></div>
          </div>