<div class="popular-news">
            <header>
              <h3 class="title-popular">popular News</h3>
            </header>
            <div class="popular-grids">
              <div class="popular-grid">
                <a href="single.html"><img src="images/popular-4.jpg" alt="" /></a>
                <a class="title" href="single.html">It is a long established fact that a reader will be distracted</a>
                <p>On Aug 31, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
              </div>
              <div class="popular-grid">
                <a href="single.html"><img src="images/popular-1.jpg" alt="" /></a>
                <a class="title" href="single.html">It is a long established fact that a reader will be distracted</a>
                <p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
              </div>
              <div class="popular-grid">
                <iframe width="100%" src="https://www.youtube.com/embed/LGMn_yi_62k" frameborder="0" allowfullscreen></iframe>
                <a class="title" href="single.html">Aishwarya Rai Bachchan's Latest SHOCKING News For Ex Salman Khan</a>
                <p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
              </div>
              <div class="popular-grid">
                <a href="single.html"><img src="images/popular-3.jpg" alt="" /></a>
                <a class="title" href="single.html">It is a long established fact that a reader will be distracted</a>
                <p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
              </div>
            </div>
          </div>