
  
<div class="col-lg-12" id="post_heading">
<h1> Possible ‘Batman v Superman’ synopsis reveals interesting new details </h1>
</div>

 <div class="left"> 




 <div class="col-lg-9">
      
      <img style="width:100%; height: 421px;" src="http://dreamatico.com/data_images/cricket/cricket-5.jpg"/>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris fgfdgj fdgdjfgjdhf jgdhj
      </p>
</div>




<!-- google ads -->
<div class="col-lg-9" id="mobile_ads">
   <img src="https://lh6.ggpht.com/41LFWBytPnxKsfZf6mivs6ba7qdOBtfk9-7MzWSMqwC3IFOvaXd8rejFiyeXKfBOK16mMEopeA=w728" />
</div>

<!-- -->






 <div class="col-lg-9">
<header style="background:#113857 ; color: white;">
<h3>You may also like</h3>
</header>
</div>




    <div class="col-lg-9">
      
      <img style="width:160px; height:100px; margin-bottom:8px; " src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style=" position: absolute; padding-left:13px;" class="text">

      <p><b>Ut enim ad minim veniam, quis nostrud exercitation </b></p>
      <p>ullamco l</p>
      </span>
      
    </div> 


    <div class="col-lg-9">
      
      <img style="width:160px; height:100px;  margin-bottom:8px; " src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style=" position: absolute; padding-left:13px;" class="text">

      <p><b>Ut enim ad minim veniam, quis nostrud exercitation </b></p>
      <p>
      gdnjg dfhgjd dj.</p>
      </span>
      
    </div> 


    <div class="col-lg-9">
      
      <img style="width:160px; height:100px ; margin-bottom:8px; " src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style=" position: absolute; padding-left:13px;" class="text">

      <p><b>Ut enim ad minim veniam, quis nostrud exercitation </b></p>
      <p>ullamco laborjhdgjhdj gjdh jghdjhgjdhjghjd...</p>
      </span>
      
    </div> 

    <div class="col-lg-9">
      
      <img style="width:160px; height:100px; margin-bottom:8px " src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style=" position: absolute; padding-left:13px;" class="text">

      <p><b>Ut enim ad minim veniam, quis nostrud exercitation </b></p>
      <p>ullamco laboris gkfjgkfd.</p>
      </span>
      
    </div> 

    




<div class="col-lg-9">
<header style="background:#113857 ; color: white;">
<h3>new stories</h3>
</header>
</div>
<div class="col-sm-3">

      
<img style="width:245px; height:140px; " src="https://thesportsvision.files.wordpress.com/2015/03/cricket_stage_australia_visa.jpg" />
      
 <p><b>Ut enim ad minim veniam, </b></p>
        
</div> 


    <div class="col-sm-3">
      
      <img style="width:245px; height:140px; " src="https://thesportsvision.files.wordpress.com/2015/03/cricket_stage_australia_visa.jpg" />
      

      <p>Ut enim ad minim veniam,</p>
      
      
      
    </div> 


    <div class="col-sm-3">
      
      <img style="width:245px; height:140px; " src="https://thesportsvision.files.wordpress.com/2015/03/cricket_stage_australia_visa.jpg" />
      

      <p>Ut enim ad minim veniam,</p>
      
     
      
    </div> 


 <div class="col-sm-4">
      
      <img style="width:245px; height:140px; " src="https://thesportsvision.files.wordpress.com/2015/03/cricket_stage_australia_visa.jpg" />
      

      <p><b>Ut enim ad minim veniam,</b></p>
      
     
      
    </div> 



 <div class="col-sm-4">
      
      <img style="width:245px; height:140px; " src="https://thesportsvision.files.wordpress.com/2015/03/cricket_stage_australia_visa.jpg" />
      

      <p><b>Ut enim ad minim veniam,</b></p>
      
     
      
    </div> 




 <div class="col-lg-4">
      
      <img style="width:245px; height:140px; " src="https://thesportsvision.files.wordpress.com/2015/03/cricket_stage_australia_visa.jpg" />
      <p><b>Ut enim ad minim veniam,</b></p>
            
</div> 


  
</div>

<div class="right">
 
<div class="col-sm-3" id="tabs">
      
      <img style="width:110px; height:66px; margin-bottom:5px;" src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style="width:220px; height:100px; position: absolute;" class="text">

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </span>
    </div> 


 
<div class="col-sm-3" id="tabs">
      
      <img style="width:110px; height:66px; margin-bottom:5px;" src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style="width:220px; height:100px; position: absolute;" class="text">

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </span>
    </div> 


<div class="col-sm-3" id="tabs">
      
      <img style="width:110px; height:66px; margin-bottom:5px;" src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style="width:220px; height:100px; position: absolute;" class="text">

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </span>
    </div> 



<div class="col-sm-3" id="tabs">
      
      <img style="width:110px; height:66px; margin-bottom:5px;" src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style="width:220px; height:100px; position: absolute;" class="text">

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </span>
    </div> 



<div class="col-sm-3" id="tabs">
     
      <img style="width:110px; height:66px; margin-bottom:5px;" src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style="width:220px; height:100px; position: absolute;" class="text">

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </span>
    </div> 


   <div class="col-sm-3" id="tabs">
     
      <img style="width:110px; height:66px; margin-bottom:5px;" src="http://im.rediff.com/cricket/2013/oct/09kit1.jpg" />
      <span style="width:220px; height:100px; position: absolute;" class="text">

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </span>
    </div> 

 

<!--    google ads             -->
<img src="http://cstore.johnsonville.com/currentads/trade/electronic/300x600-banner-ad/thumb/JVE_300x600.jpg"/>

<!--  -->


<div class="col-sm-3" id="tabs">
<header style="background:#113857 ; color: white;">
<h3>popular posts</h3> 
</header>
     
  <img style="width:300px; height:150px; margin-bottom:5px;" src="http://cdn2.bigcommerce.com/server3300/6ravsmq/product_images/uploaded_images/cricket-wc2011-ind-pak-match-48.jpg"/>
  <p>gfhf jg gfd hdj g</p>
      
</div> 

<div class="col-sm-3" id="tabs" >
     
      <img style="width:300px; height:150px; margin-bottom:5px;" src="http://cdn2.bigcommerce.com/server3300/6ravsmq/product_images/uploaded_images/cricket-wc2011-ind-pak-match-48.jpg"/>
      <p>uit tiuyit uytu iy</p>
</div> 

 <div class="col-sm-3" id="tabs">
     
      <img style="width:300px; height:150px; margin-bottom:5px;" src="http://cdn2.bigcommerce.com/server3300/6ravsmq/product_images/uploaded_images/cricket-wc2011-ind-pak-match-48.jpg"/>
      <p>f gfjdjs hgjfjdjdj  ghjdj h</p>
</div> 




 </div>







<!-- footer   -->

<div class="col-sm-12" id="black_footer">
<ul id="menu" style="color:white; list-style:none;"  >
<li>LATEST</li>
 <li>GAMES</li>
 <li>TV/DVD</li>
 <li>PHOTOS</li>
 <li>VIDEOS</li>
<li>About us</li>
<li>Sitemap</li>
<li>Privacy</li>
<li>Contact</li>
</ul>
<h5>All copyright @circleofcricket</h5>
</div>









