  <div class="side-bar-articles">
            <div class="side-bar-article">
              <a href="single.html"><img src="images/sai.jpg" alt="" /></a>
              <div class="side-bar-article-title">
                <a href="single.html">Contrary to popular belief, Lorem Ipsum is not simply random text</a>
              </div>
            </div>
            <div class="side-bar-article">
              <a href="single.html"><img src="images/sai2.jpg" alt="" /></a>
              <div class="side-bar-article-title">
                <a href="single.html">There are many variations of passages of Lorem</a>
              </div>
            </div>
            <div class="side-bar-article">
              <a href="single.html"><img src="images/sai3.jpg" alt="" /></a>
              <div class="side-bar-article-title">
                <a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a>
              </div>
            </div>
           </div>
           